<%- include('./partials/header') %>
   
<h1>Welcome to <%= title %></h1>
<h3>A digital record of books and reviews. See what books others have read and rated and add your own!</h3>
<img class="photo" src="/images/pexels-ivo-rainha-1261180.jpg" alt=""> 

<%- include('./partials/footer') %>