* {
  box-sizing: border-box;
}

body {
  margin: 8vh 0vh;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: tan;
  background-image: "../images/pexels-ivo-rainha-1261180.jpg";
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.logout img {
  height: 30px;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
  font-weight: 600;
}

#new-form *,
#add-review-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

#list {
  font-size: 20px;
  padding: 1px;
  border-radius: 5px;
}

#list a {
  border-radius: 4px;
  padding: 4px;
  text-decoration: none;
  font-size: 16px;
  color: black;
}

#list a:hover {
  background-color: #C4A484;
}

.photo {
  max-width: 100%;
  max-height: 100%;
}
.navbar a {
list-style-type: none;
font-size: 27px;
font-weight: 600;
margin: 0 15px;
text-decoration: none;
color: #000000;
}

.navbar {
list-style-type: none;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 75px;
  width: 100%;
  background: #C4A484;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 90%;
  background: #C4A484;
  margin: auto;
}

nav .navbar .menu {
  display: flex;
}

.navbar .menu li a {
  list-style-type: none;
  list-style: none;
  font-size: 27px;
  font-weight: 600;
  margin: 0 15px;
  text-decoration: none;
  color: #000000;
}

.navbar .menu li {
  list-style-type: none;
}

.navbar .menu li a:hover {
  background-color: tan;
}

#title {
min-width: 50vw !important;
margin: 500px !important;
}

#author {
  min-width: 30vw !important;
  margin: 500px !important;
}
#show-page {
  font-weight: 600;
  font-size: 20px;
}

.banana {
  display: flex;
  min-width: 75vw;
}

.key {
  width: 40vw;
}

.value {
  width: 35vw;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
    font-size: 12px;
    width: 100%;
    margin: 0;
  }
  .navbar .menu li {
  display: flex;
  align-items: center;
  }
  #show-page {
    margin-top: 35px;
  }
}